.escolha-tema {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

h2 {
    font-size: 40px;
}

.visualizacao {
    font-size: 35px;
    display: block;
    margin: auto;
    background-color: rgba(245, 154, 49, 0.6);
    border-radius: 20px;
    max-width: 420px;
    text-align: center;
    padding: 10px;
}

.tamanho-letra, .tipo-letra {
    background-color: rgba(245, 154, 49, 0.6);
    border-radius: 20px;
    max-width: 500px;
    padding: 10px;
}

h3 {
    text-align: center;
    font-size: 25px;
    margin: 30px 0px 15px;
}

.salvar {
    display: grid;
    justify-content: center;
}

.salvar button {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    color: rgb(245, 154, 49);
    padding: 5px;
    border-radius: 40px;
    font-size:40px;
    margin-top: 40px;
    border: none;
}

.salvar button:active {
    box-shadow: 0 5px rgb(95, 95, 94);
    transform: translateY(4px);
}

.salvar button:hover {
    background-color: rgb(245, 154, 49);
    color: white;
}

@media (max-width: 1150px){
    h2{
        font-size: 65px;
        margin-top: 70px;
    }
    
    h3{
        font-size: 50px;
        margin-top: 50px;
    }
    
    .escolha-tema {
        font-size: 45px;
        gap: 20px;   
    }

    .visualizacao {
        font-size: 50px;
        max-width: 380px;
    }
}

@media (max-width: 800px){
    h2{
        font-size: 50px;
    }
    
    h3{
        font-size: 40px;
    }
    
    .escolha-tema {
        font-size: 35px;
    }

    .visualizacao {
        font-size: 45px;
        max-width: 320px;
    }
}

@media (max-width: 480px) {
    h2{
        font-size: 32px;
        margin-top: 30px;
    }
    
    h3{
        font-size: 26px;
        margin-top: 30px;
    }
    
    .escolha-tema {
        font-size: 24px;
    }

    .visualizacao {
        font-size: 28px;
        max-width: 220px;
    }
}

@media (max-width: 400px) {
    h2{
        font-size: 28px;
    }
    
    h3{
        font-size: 23px;
        margin-top: 40px;
    }
    
    .escolha-tema {
        font-size: 22px;
    }

    .visualizacao {
        font-size: 22px;
        max-width: 270px;
    }
}