.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botao-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: #353535;
    margin-bottom: 1rem;
}

.botoes-esquerda {
    display: flex;
    align-items: center;
    gap: 1rem;
}

h2 {
    font-size: 2.5rem;
    margin-left: -5rem;
}

.logo-alpha {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.logo-alpha:active {
    box-shadow: 0 3px rgb(156, 94, 22);
    transform: translateY(4px);
}

.logo-alpha:hover {
    background-color: rgb(210, 210, 210);
}

.imagem-erro{
    width: 300px;
    margin-bottom: 12px;
}

.palavra-e-teclado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.palavra-e-teclado .imagem-elemento {
    width: 100%;
    max-width: 350px;
    height: auto;
    max-height: 250px;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 20px;
    object-fit: fill;
}


.palavra-e-teclado p {
    border: 2px solid white;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 40px;
    margin-bottom: 20px;
}

.teclado button {
    width: 52px;
    height: 52px;
    margin: 2px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    color: rgb(15, 127, 168);
    border: none;
    border-radius: 8px;
}

.teclado button:hover {
    background-color: rgb(33, 173, 224);
    color: white;
}

tr {
    display: flex;
    justify-content: center;
    margin: 2px;
}

.feedback {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    background-color: #14862f;
    color: white;
    border-radius: 10px;
    opacity: 0; /* Oculto inicialmente */
    transition: opacity 0.5s ease-in-out;
}

#feedback {
    font-size: 17px;
}

.feedback.oculto {
    opacity: 0;
}

.feedback.visivel {
    opacity: 1;
}

.feedback.erro {
    background-color: #dc3545;
}

@media (max-width: 600px) {
    #feedback {
        font-size: 13px;
    }

    .imagem-erro {
        width: 300px;
    }

    .palavra-e-teclado .imagem-elemento {
        width: 100%;
        max-width: 300px;
        margin-bottom: 40px;
    }

    .palavra-e-teclado p {
        font-size: 25px;
        padding: 18px;
        margin-bottom: 60px;
    }

    .teclado button {
        width: 35px;
        height: 50px;
        font-size: 32px;
    }

    main{
        margin-top: 70px;
    }
}

@media (max-width: 580px) {
    .logo-alpha{
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 400px) {
    .imagem-erro {
        width: 200px;
    }

    .palavra-e-teclado .imagem-elemento {
        width: 90%;
        max-width: 240px;
    }

    .palavra-e-teclado p {
        margin-bottom: 20px;
    }

    .teclado button {
        width: 30px;
        height: 45px;
        font-size: 25px;
    }
}

@media (max-width: 345px) {
    .teclado{
        margin-top: 40px;
    }
    .teclado button {
        width: 27px;
        height: 45px;
        font-size: 25px;
    }
}