.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem-erro{
    width: 300px;
    margin-bottom: 12px;
}

.palavra-e-teclado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.palavra-e-teclado .imagem-elemento {
    width: 100%;
    max-width: 350px;
    height: auto;
    max-height: 250px;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 20px;
    object-fit: fill;
}


.palavra-e-teclado p {
    border: 2px solid white;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 40px;
    margin-bottom: 20px;
}

.teclado button {
    width: 52px;
    height: 52px;
    margin: 2px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    color: rgb(15, 127, 168);
    border: none;
    border-radius: 8px;
}

.teclado button:hover {
    background-color: rgb(33, 173, 224);
    color: white;
}

tr {
    display: flex;
    justify-content: center;
    margin: 2px;
}

@media (max-width: 600px) {
    .imagem-erro {
        width: 300px;
    }

    .palavra-e-teclado .imagem-elemento {
        width: 80%;
        max-width: 300px;
        margin-bottom: 40px;
    }

    .palavra-e-teclado p {
        font-size: 25px;
        padding: 18px;
        margin-bottom: 90px;
    }

    .teclado button {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }

    main{
        margin-top: 125px;
    }
}

@media (max-width: 400px) {
    .imagem-erro {
        width: 200px;
    }

    .palavra-e-teclado .imagem-elemento {
        width: 90%;
        max-width: 240px;
    }

    .palavra-e-teclado p {
        margin-bottom: 40px;
    }

    .teclado button {
        width: 25px;
        height: 45px;
        font-size: 20px;
    }
}