* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    text-align: center;
}

body{
    background-image: linear-gradient(rgb(33, 173, 224), rgb(245, 154, 49));
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-top: 40px;
}

@font-face {
    font-family: 'Maria Lucia';
    src: url('../fonte/Maria_lucia.ttf') format('truetype');
    font-weight: normal;
}

.fonte-cursiva {
    font-family: 'Maria Lucia', cursive;
}

.voltar {
    width: 60px;
    height: 60px;
    color: rgb(245, 154, 49);
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20px;
    left: 30px;
    cursor: pointer;
    font-size: 40px;
    border: none;
}

.voltar:active {
    box-shadow: 0 3px rgb(156, 94, 22);
    transform: translateY(4px);
}

.voltar:hover {
    background-color: rgb(245, 154, 49);
    color: white;
}