.tabela {
    width: 100%;
    font-size: 1.5rem;
}

.voltar{
    position: absolute;
    margin-right: auto;
}

body {
    text-align: center;
}

th {
    background-color: rgb(33, 173, 224);
}

td {
    padding: 30px;
}

.zerar-ranking {
    border: none;
    padding: .5rem;
    background-color: #fff;
    color: rgb(6, 84, 112);
    font-weight: 600;
    cursor: pointer;
    border-radius: .5rem;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.zerar-ranking:hover {
    background-color: rgb(6, 84, 112);
    color: white;
}

.mensagem-sucesso {
    position: fixed;
    top: 20px;
    right: 25px;
    padding: 15px;
    background-color: #14862f;
    color: white;
    border-radius: 10px;
    display: none;
}

.mensagem-sucesso p {
    font-size: .8rem;
}

.confirmacao-zerar-ranking {
    width: 300px;
    background-color: rgb(6, 84, 112);
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 1rem;
    font-weight: 600;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: none;
}

.confirmacao-zerar-ranking button {
    margin: 1rem;
    border: none;
    padding: .4rem;
    cursor: pointer;
    border-radius: .2rem;
    color: #fff;
    font-weight: 600;
}

.confirmar {
    background-color: rgb(34, 122, 72);
}

.cancelar {
    background-color: rgb(209, 11, 11);
}

.confirmar:hover, .cancelar:hover {
    transform: scale(1.1);
}

@media (max-width: 1024px) {
    .tabela {
        font-size: 2rem;
    }

    td {
        padding-bottom: 5rem;
    }

    .zerar-ranking {
        padding: 1rem;
    }
}

@media (max-width: 770px) {
    .tabela {
        font-size: 1.7rem;
    }
}

@media (max-width: 575px) {
    .tabela {
        font-size: 1.4rem;
    }

    td {
        padding-bottom: 4rem;
    }

    .zerar-ranking {
        padding: .5rem;
    }
    
    .mensagem-sucesso p {
        font-size: .7rem;
    }

    .mensagem-sucesso {
        padding: .7rem;
    }
}

@media (max-width: 540px) {
    td {
        padding-bottom: 3rem;
    } 
}

@media (max-width: 480px) {
    .tabela {
        font-size: 1.2rem;
    }   
}

@media (max-width: 400px) {
    .tabela {
        font-size: 1rem;
    }    
}

@media (max-width: 380px) {
    .tabela {
        font-size: .9rem;
    }    

    td {
        padding-bottom: 3rem;
    }
}