.tabela {
    margin-top: 20px;
    width: 100%;
    font-size: 1.5rem;
}

header {
    display: flex;
    align-items: center;
    padding: .4rem;
    background-color: #353535;
    margin-bottom: 1rem;
    max-width: 100vw;
    position: relative;
    background-color: rgb(6, 84, 112);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.8);
}

h2 {
    font-size: 2rem;
    text-align: center;
    flex-grow: 1;
}

.voltar{
    position: absolute;
    margin-right: auto;
}

body {
    text-align: center;
}

th {
    background-color: rgb(33, 173, 224);
}

td {
    padding: 30px;
}

@media (max-width: 770px) {
    .tabela {
        font-size: 30px;
    }
}

@media (max-width: 575px) {
    h2 {
        font-size: 40px;
    }
    .tabela {
        font-size: 22px;
    }    
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.8rem;
    }
    .tabela {
        font-size: 1rem;
    }    
}

@media (max-width: 400px) {
    h2 {
        font-size: 1.5rem;
    }
    .tabela {
        font-size: .8rem;
    }    
}

@media (max-width: 360px) {
    .tabela {
        font-size: .8rem;
    }    
}

@media (max-width: 345px) {
    h2 {
        font-size: 1.3rem;
    }    
}