.opcoes {
    display: grid;
    font-size: 50px;
    justify-content: center;
    margin-top: 1.2rem;
}

p {
    font-size: 1.2rem;
    margin: .4rem 0 1rem;
    font-weight: 700;
}

.logo {
    max-width: 80%;
    width: 500px;
    height: auto;
    margin-top: .8rem;
}

.a4s{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
}

.botao {
    width: 180px;
    height: 100px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    border: 3px solid white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

.iniciar .botao {
    background-color: rgba(15, 127, 168);
}

.ranking .botao, .configuracoes .botao {
    width: 160px;
    height: 80px;
}

section {
    text-align: center;
}

.botao:active {
    box-shadow: 0 5px rgb(239, 131, 8);
    transform: translateY(4px);
}

.botao:hover {
    background-color: rgb(245, 154, 49);
}

.botao i {
    font-size:40px;
}

@media (max-width: 750px) {
    
    .logo{
        margin-top: 80px;
    }

    .a4s{
        left: 20px;
        width: 40px;
        height: 40px;
    }

    .iniciar .botao {
        margin-top: 3rem;
        width: 140px;
        height: 90px;
    }

    .ranking .botao, .configuracoes .botao {
        width: 120px;
        height: 70px;
    }
}